html, body, .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Inconsolata', monospace;
    margin-bottom: 0;
}


#map {
    height: 100%;
    width: 75%;
    float: right;
}

.side-panel {
    width: 25%;
    height: 100%;
    text-align: center;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
}

ul {
    margin: 0px;
    padding: 10px;
    list-style-type: none;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

li {
    display: block;
    color: #000;
    margin: 0.5em 0;
    text-decoration: none;
}

/* Change the link color on hover */
li:hover {
    background-color: #555;
    color: white;
}

a:visited {
    color: blue;
}

.filter {
    margin-top: 1.5em;
}
